sample/flows.json
[{"id":"91a3e284.7b3dc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2e7fff60.09e0b","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4aa8ec9.6549714","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d0402e9.44897e","type":"ui_group","z":"","name":"Main","tab":"17a9d25c.f6db6e","disp":true,"width":8,"collapse":false},{"id":"17a9d25c.f6db6e","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard"},{"id":"4970f1d.022bf1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f0840be.7edc9","type":"ui_group","name":"Group 2","tab":"17a9d25c.f6db6e","order":2,"disp":true,"width":7},{"id":"97a7a56e.868c18","type":"ui_group","name":"Group 3","tab":"17a9d25c.f6db6e","order":3,"disp":true,"width":7},{"id":"9b39b567.bc28e8","type":"mqtt in","z":"91a3e284.7b3dc","name":"","topic":"esp32/dht11/temperature","qos":"2","datatype":"auto","broker":"4aa8ec9.6549714","x":290,"y":300,"wires":[["418ee34a.97277c","f637c82e.fcce88"]]},{"id":"418ee34a.97277c","type":"debug","z":"91a3e284.7b3dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":521,"y":274,"wires":[]},{"id":"845a5f77.9b5e8","type":"mqtt in","z":"91a3e284.7b3dc","name":"","topic":"esp32/dht11/humidity","qos":"2","datatype":"auto","broker":"4aa8ec9.6549714","x":260,"y":200,"wires":[["5db62f31.682d5","bddbe528.b0ab68"]]},{"id":"5db62f31.682d5","type":"debug","z":"91a3e284.7b3dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":158,"wires":[]},{"id":"bddbe528.b0ab68","type":"ui_gauge","z":"91a3e284.7b3dc","name":"","group":"97a7a56e.868c18","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":500,"y":218,"wires":[]},{"id":"cba0c6c4.a4d158","type":"mqtt in","z":"91a3e284.7b3dc","name":"","topic":"esp32/dht11/heat","qos":"2","datatype":"auto","broker":"4aa8ec9.6549714","x":260,"y":400,"wires":[["55f08d59.8e4294","8e435cd6.e824e"]]},{"id":"55f08d59.8e4294","type":"debug","z":"91a3e284.7b3dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":380,"wires":[]},{"id":"8e435cd6.e824e","type":"ui_chart","z":"91a3e284.7b3dc","name":"","group":"3d0402e9.44897e","order":1,"width":0,"height":0,"label":"Heat","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":440,"wires":[[]]},{"id":"f637c82e.fcce88","type":"ui_gauge","z":"91a3e284.7b3dc","name":"","group":"4f0840be.7edc9","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperator","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b3d9","#0073e6","#001bd7"],"seg1":"33","seg2":"66","x":510,"y":340,"wires":[]},{"id":"758bbe68.bf3db","type":"mqtt out","z":"91a3e284.7b3dc","name":"","topic":"esp32/dht11/output","qos":"2","retain":"","broker":"2e7fff60.09e0b","x":490,"y":520,"wires":[]},{"id":"49ee6c15.3470f4","type":"ui_button","z":"91a3e284.7b3dc","name":"","group":"3d0402e9.44897e","order":1,"width":0,"height":0,"passthru":false,"label":"Test publishTopic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":520,"wires":[["758bbe68.bf3db"]]}]